{% extends "ugahash/base.html" %}
{% block title %}Hashed Results{% endblock %}
{% block content %}

<table width="100%">
    <tr>
        <th>Original ID</th>
        <th>Hash IDs mapping to original ID</th>
    </tr>
    {% for id_el in out_nested_is_list %}
        <tr>
            <td rowspan="{{ id_el.hash_id_list|length|add:"1" }}">{{ id_el.original_id }}</td>
        </tr>
        {% for hash_el in id_el.hash_id_list %}
        <tr>
        {% if hash_el.hash_id %}
            <td>{{ version }}</td>
            <td><a href="/hash/sequence/{{ hash_el.hash_id }}">{{ hash_el.hash_id }}</a></td>
        {% else %}
            <td>no_hash_found</td>
        {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
</table>

{% endblock %}

