{% extends "ugahash/base.html" %}

{% block title %}ID Search{% endblock %}

{% block content %}

    <style type="text/css">

    label{
        display:block;
    }
    #load_sample_data:hover {
        text-decoration:underline;
    }
    </style>

<script>
    $(document).ready(function(){
        $("#load_sample_data").click(function(){
                $("#id_text_input").load("/static/ugahash/data/sample_ids.html");
            }
        );
    });
</script>



    <form action="/idsearch/" method="get">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />

	    <a id="load_sample_data" style=" font-size:85%; float: right; cursor: hand; cursor: pointer;"  >
		    [Load Sample Data]
        </a>

    </form>

    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}



{% endblock %}

text_input
species_assembly