{% extends "ugahash/base.html" %}
{% load staticfiles %}

{% block title %}Help{% endblock %}

{% block content %}

<!--
<div class="row">
    <div class="small-12 large-12 columns">
        <p><h4>About / Help</h4></p>
    </div>
    <div class="large-4 columns">
        <ol class="helpdir">
            <li><a href="#hasher">Hash and Search with GTF</a></li>
            <li><a href="#search">Search via Accession</a></li>
            <li><a href="#data">Data</a></li>
        </ol>
    </div>
    <div class="large-8 columns">
        <h5>Overview</h5>
        <div class="helptext">
            UGAHash is a tool that
        </div>
    </div>
</div>
-->

<div class="row">
    <div class="small-12 large-12 columns">

    <br>
    <h4><a href="#">Please Cite:</a></h4>
    <p>
        Weirick, T., John, D., Uchida, S. (2016).
        Resolving the problem of multiple accessions of the same
        transcript deposited across various public databases.
        <i>Briefings in bioinformatics</i>,
        <a href="http://bib.oxfordjournals.org/content/early/2016/02/20/bib.bbw017">bbv067</a>.
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/26921280?dopt=Abstract">PMID: 26921280</a>
    </p>
    <h4><a href="#">Hash and Search with GTF</a></h4>
    <p>Given GTF- or GFF-formatted text, this view will return UGAs (hashes) for the given sequence features and check
    for the existence of sequence features or similar features in other databases. A similar feature is defined as
    whose start and stop location are within ±25% of the corresponding features of the query sequence.
    It should be noted that this does not guarantee accuracy; rather, it is a heuristic way to allow return of
    queries in a reasonable amount of time.
    </p>

    <h4><a href="#">Search via Accession</a></h4>
    <p>
        Given an accession number from one of the database included in the UGAHash, this view will return UGAs
        mapping to the given accession
    </p>

    <h4><a href="#">Data</a></h4>
    <p>
        The following data sources and versions of data sources
        are included in the UGAHash web tool.
    </p>

    <table>
        <tr>
            <th>Source</th>
            <th>Versions</th>
        </tr>
        {% for database, versions_list in databases_and_versions %}
        <tr>
            <td>{{ database }}</td>
            <td>
                {% for version in versions_list %}
                    {{ version }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <h4><a href="#">Downloads</a></h4>
    <h6><a href="#">Page Views</a></h6>
    <p>
    Various views in the UGAHash web tool can be downloaded as JSON or when possible TSV.
    When downloads are available, a button labeled "Download" will appear at the top left
    corner of the page.
    <h6><a href="#">SQL Dump</a></h6>
    <p>
    An SQL dump of the data contained in UGAHash can be downloaded
    <a href="{% static 'ugahash/data/ugahash.20151220.sql.gz' %}">here</a>.
    </p>
    </div>
</div>


{% endblock %}
