{% extends "ugahash/base.html" %}

{% block title %}Hashed Results{% endblock %}

{% block content %}

<style>
    table {
        width: 100%;
    }
   .htitle {
        font-size: 60%;
    }
</style>


<table>
    <tr>
        <th class="htitle">Sequence Hash</th>
        <th class="htitle">Type</th>
        <th class="htitle">Chr</th>
        <th class="htitle">Strand</th>
        <th class="htitle">Start</th>
        <th class="htitle">Stop</th>
        {% for source in distinct_sources %}
           <th class="htitle">{{ source }}</th>
        {% endfor %}
    </tr>
    {% for seq_el in hashed_seqs %}
        <tr>
            <td class="htitle"><a href="sequence/{{ seq_el.hash_id_link }}">{{ seq_el.hash_id }}</a></td>
            <td class="htitle">{{ seq_el.seq_type }}</td>
            <td class="htitle">{{ seq_el.chromosome }}</td>
            <td class="htitle">{{ seq_el.strand }}</td>
            <td class="htitle">{{ seq_el.start }}</td>
            <td class="htitle">{{ seq_el.stop }}</td>

            {% for info_el in seq_el.existences|dictsort:"source"  %}
                <td>
                {% if info_el.existence_state == "True" %}
                    <img style="height: 20px;" src="/static/ugahash/img/match.svg"/>
                {% elif info_el.existence_state == "overlap" %}
                    <img style="height: 20px;" src="/static/ugahash/img/overlap.svg"/>
                {% elif info_el.existence_state == "False" %}
                    <img style="height: 20px;" src="/static/ugahash/img/mismatch.svg"/>
                {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}
