{% extends "ugahash/base.html" %}

{% block title %}Hash{% endblock %}

{% block content %}

    <script>
        $(document).ready(function(){
        $("#load_sample_data").click(function(){
                $("#id_text_input").load("/static/ugahash/data/sample.gtf.html");
            }
        );
    });
    </script>


    <form action="/hash/" method="get">


        {{ form.non_field_errors }}
        <div class="fieldWrapper">

        {{ form.text_input.errors }}
        {{ form.text_input }}
        <a id="load_sample_data" style=" font-size:85%; float: right; margin-top: -10px;"  >
            [Load Sample Data]
        </a>
        </div>

        <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="{{ form.message.id_for_label }}">Species and Version of Assembly:</label>
        {{ form.species_assembly }}
        </div>


        <input type="submit" value="Submit" />
    </form>

    {% if error_message %}
        <strong style="color: red">{{ error_message }}</strong>
    {% endif %}


    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}


{% endblock %}



