{% extends "ugahash/base.html" %}

{% block title %}{{ job_id }}{% endblock %}

{% block content %}

<style>
    table {
        width: 100%;
    }
</style>

<h5>Sequence Info</h5>
<table>
    <tr>
        <th colspan="1">UGA</th>
        <td colspan="5">{{ job_id }}</td>
    </tr>
    <tr>
        <th> Species</th>
        <th> Assembly</th>
        <th> Chromosome</th>
        <th> Strand</th>
        <th> Start</th>
        <th> End</th>
    </tr>
    <tr>
        <td>{{ tax_id }}</td>
        <td>{{ assembly }}</td>
        <td>{{ chromosome }}</td>
        <td>{{ strand }}</td>
        <td>{{ start }}</td>
        <td>{{ stop }}</td>
    </tr>
</table>

<h5>External Database Relations</h5>
<table>
        <tr>
            <th>Source</th>
            <th>Version</th>
            <th>Accession in Database</th>
        </tr>
    {% if links_to_DBs %}
        {% for source, version, original_id, source_url in links_to_DBs %}
            <tr>
                <td>{{ source }}</td>
                <td>{{ version }}</td>
                <td> <a target="_blank" href="{{ source_url }}">{{ original_id }}</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">None</td>
        </tr>
    {% endif %}
</table>


<h5>Parent Sequences</h5>
<table>
        <tr>
            <th>UGA</th>
            <th>Sequence Type</th>
            <th>Start</th>
            <th>Stop</th>
        </tr>
        {% if parents %}
        {% for hash_id, assembly, seq_type, chromosome, strand, start, stop in parents %}
            <tr>
                <td><a href="/hash/sequence/{{ hash_id }}">{{ hash_id }}</a></td>
                <td>{{ seq_type }}</td>
                <td>{{ start }}   </td>
                <td>{{ stop }}    </td>
            </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">None</td>
    </tr>
{% endif %}
</table>

<h5>Child Sequences</h5>
<table>
        <tr>
            <th>UGA</th>
            <th>Sequence Type</th>
            <th>Start</th>
            <th>Stop</th>
        </tr>
{% if children %}
    {% for hash_id, assembly, seq_type, chromosome, strand, start, stop in children %}
        <tr>
            <td><a href="/hash/sequence/{{ hash_id }}">{{ hash_id }}</a></td>
            <td>{{ seq_type }}</td>
            <td>{{ start }}</td>
            <td>{{ stop }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="4">None</td>
    </tr>
{% endif %}
</table>


<h5>Related Sequences</h5>
<table>
    <tr>
        <th>Hash ID</th>
        <th>Assembly</th>
        <th>Position</th>
        <th>Source & Version</th>
        <th>Original ID</th>
    </tr>
    {% if grouped_data_struct %}
        {% for hash_id, vals in grouped_data_struct.items %}
            <tr>
                <td rowspan="{{ vals.origin_data|length|add:1 }}">
                    <a href="/hash/sequence/{{ hash_id }}">{{ hash_id }}</a>
                </td>
                <td rowspan="{{ vals.origin_data|length|add:1 }}">
                    {{ vals.assembly }}
                </td>
                <td rowspan="{{ vals.origin_data|length|add:1 }}">
                    {{ vals.chromosome }}{{ vals.strand }}:{{ vals.start }}-{{ vals.stop }}
                </td>
            </tr>
            {% for vers in vals.origin_data|dictsort:"version" %}
                <tr>
                    <td>{{ vers.version }}</td>
                    <td>{{ vers.original_id }}</td>
                </tr>
            {% endfor %}

        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">None</td>
        </tr>
    {% endif %}
</table>


{% endblock %}


