<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="icon" type="image/ico" href="{% static 'ugahash/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'ugahash/css/foundation.css' %}" />
    <script src="{% static 'ugahash/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'ugahash/js/foundation.min.js' %}"></script>
    <script src="{% static 'ugahash/js/vendor/modernizr.js' %}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-68292132-1', 'auto');
        ga('send', 'pageview');
   </script>
    <title>UGAHash | {% block title %}{% endblock %}</title>
</head>
    <body>
        <div class="row">
            <div class="small-12 columns">
                <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
                        {% if tsv_link or json_link %}
                            <!-- Right Nav Section -->
                            <ul class="right">
                              <li class="has-dropdown">
                                <a href="#">Download</a>
                                <ul class="dropdown">
                                    {% if json_link %}
                                        <li><a href="{{ json_link }}">JSON</a></li>
                                    {% endif %}
                                    {% if tsv_link %}
                                        <li><a href="{{ tsv_link }}">TSV</a></li>
                                    {% endif %}
                                </ul>
                              </li>
                            </ul>
                        {% endif %}
                        <ul class="left">
                            <li><a href="/">Home</a></li>
                            <li><a href="/hash/">Hash and Search with GTF</a></li>
                            <li><a href="/idsearch/">Search via Accession</a></li>
                            <li><a href="/help/">About / Help</a></li>
                        </ul>
                    </section>
                </nav>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
      <script>
        $(document).foundation();
      </script>
    </body>
</html>