{% extends "ugahash/base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}
    <br/>
<div class="row">

    <div class="small-9 large-9 columns">
        <h5><b>Welcome to UGAHash</b></h5>
        <br/>
        <p>
        UGAHash is an algorithm designed to provide a distributed
        method for assigning accession numbers to genomic features.
        </p>
        <p>
        A python implementation of UGAHash can be obtained
        <a href="https://bitbucket.org/tweirick/ugahash"><b>here</b></a>
        </p>
        <p>
        This website is designed to introduce the utility of UGAHash by providing resources
        for mapping human genomic features among various bioinformatic databases and
        versions of databases with a focus on lncRNAs.
        </p>
    </div>

    <div class="small-3 large-3 columns">
        <img src="{% static 'ugahash/img/UGAHash_logo.png' %}" />
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <ol>
            <li>
                "Hash and Search with GTF" will generate UGAs (Universal Genomic Accessions)
                from GFF formatted text and check for the UGAs’ existence in several popular databases.
            </li>
            <li>
                "Search via Accession" will search for UGAs using accessions from other databases.
            </li>
        </ol>
        See "About / Help" for more information about the databases included.

    </div>
</div>


{% endblock %}